<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>fivecoins'blog</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="/assets/img/fivecoinsIcon.png" rel="icon">
  <link href="/assets/img/fivecoinsIcon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/assets/vendor/quill/quill.snow.css" rel="stylesheet">
  <link href="/assets/vendor/quill/quill.bubble.css" rel="stylesheet">
  <link href="/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="/assets/vendor/simple-datatables/style.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="/assets/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: NiceAdmin - v2.3.1
  * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
      <a href="/" class="logo d-flex align-items-center">
        <img src="/assets/img/logo.png"  alt="">
        <span class="d-none d-lg-block">fivecoins'blog</span>
      </a>
      <i class="bi bi-list toggle-sidebar-btn"></i>
    </div><!-- End Logo -->
    <div>
      <!--empty-->
    </div>
    <div class="search-bar">
      <form class="search-form d-flex align-items-center" method="POST" action="search/whole">
        <input type="text" name="query" placeholder="Search" title="Enter search keyword">
        <button type="submit" title="Search"><i class="bi bi-search"></i></button>
      </form>
    </div><!-- End Search Bar -->

    <nav class="header-nav ms-auto">
      <ul class="d-flex align-items-center">

        <li class="nav-item d-block d-lg-none">
          <a class="nav-link nav-icon search-bar-toggle " href="search/whole">
            <i class="bi bi-search"></i>
          </a>
        </li><!-- End Search Icon-->
      </ul>
    </nav>
    <div class="header-nav ms-auto">
      <a th:href="@{/}" class="d-flex align-content-center"><button type="button" class="btn btn-light" >回到博客</button></a>
    </div>
  </header><!-- End Header -->

  <!-- ======= Sidebar ======= -->
  <aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item">
        <a class="nav-link" th:href="@{/manage/index}">
          <i class="bi bi-grid"></i>
          <span>管理博客内容</span>
        </a>
      </li><!-- End Dashboard Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" th:href="@{/manage/service/index}">
          <i class="bi bi-file-earmark"></i>
          <span>服务器管理</span>
        </a>
      </li>
      <!-- end blog Page-->

      <li class="nav-item">
        <a class="nav-link collapsed" th:href="@{/connect}">
          <i class="bi bi-envelope"></i>
          <span>工具管理</span>
        </a>
      </li><!-- End Contact Page Nav -->
    </ul>

  </aside><!-- End Sidebar-->

  <main id="main" class="main">

    <section class="section dashboard">
      <div class="row">

        <!-- Left side columns -->

        <div class="col-lg-12">
          <div class="row">

            <div class="col-12">

              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">脑洞管理</h5>
                  <table class="table">
                    <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">content</th>
                      <th scope="col">timestamp</th>
                      <th scope="col">status</th>
                      <th scope="col">url</th>
                      <th scope="col"></th>
                    </tr>
                    </thead>
                    <tbody th:each="hole:${holes}">
                    <tr>
                      <th><input th:id="'hole-id'+${hole.getId()}" type="number" th:value="${hole.getId()}"></th>
                      <th><input th:id="'hole-content'+${hole.getId()}" type="text" th:value="${hole.getContent()}"></th>
                      <th><input th:id="'hole-timestamp'+${hole.getId()}" type="datetime-local" th:value="${hole.getTimestamp()}"></th>
                      <th><select th:id="'hole-status'+${hole.getId()}">
                        <option th:selected="${hole.getStatus()}==1" type="number" value=1>正在进行</option>
                        <option th:selected="${hole.getStatus()}==0" type="number" value=0>已废弃</option>
                        <option th:selected="${hole.getStatus()}==2" type="number" value=2>已完成</option>
                      </select></th>
                      <th><input th:id="'hole-url'+${hole.getId()}" th:value="${hole.getUrl()}"></th>
                      <th><button th:onclick="edithole([[${hole.getId()}]]);" class="btn btn-success">修改</button></th>
                      <th>
                        <a th:href="@{'/manage/hole/delete/'+${hole.getId()}}" class="btn btn-danger">删除</a>
                      </th>
                    </tr>
                    </tbody>
                    <tbody>
                    <tr>
                      <th><input id="new-id" type="number" ></th>
                      <th><input id="new-content" type="text" ></th>
                      <th><input id="new-timestamp" type="datetime-local" ></th>
                      <th><select id="new-status">
                        <option selected type="number" value=1>正在进行</option>
                        <option  type="number" value=0>已废弃</option>
                        <option  type="number" value=2>已完成</option>
                      </select></th>
                      <th><input id="new-url" ></th>
                      <th>
                        <button onclick="addhole()" class="btn btn-primary">添加</button>
                      </th>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>

              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">主页标签</h5>
                  <table class="table">
                    <thead>
                    <tr>
                    <th scope="col">iconName</th>
                    <th scope="col">imgPath</th>
                    <th scope="col">urlPath</th>
                    <th scope="col">htmlClass</th>
                      <th scope="col"></th>
                    </tr>
                    </thead>
                    <tbody th:each="icon:${icons}">
                    <tr>
                    <th th:text="${icon.getIconName()}"></th>
                    <th th:text="${icon.getImgPath()}"></th>
                    <th th:text="${icon.getUrlPath()}"></th>
                    <th th:text="${icon.getHtmlClass()}"></th>
                      <th>
                        <a th:href="@{'/manage/icon/delete/'+${icon.getIconName()}}" class="btn btn-danger">删除</a>
                      </th>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <!--end 主页标签 -->

              <div class="card">
                <div class="card-body" >
                  <h5 class="card-title">精选文章</h5>
                  <table class="table">
                    <thead>
                    <tr>
                      <th scope="col">name</th>
                      <th scope="col">url</th>
                      <th scope="col"></th>
                    </tr>
                    </thead>
                    <tbody th:each="doc:${docs}">
                    <tr>
                      <th th:text="${doc.getName()}"></th>
                      <th th:text="${doc.getUrl()}"></th>
                      <th>
                        <a th:href="@{'/manage/doc/delete/'+${doc.getName()}}" class="btn btn-danger">删除</a>
                      </th>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
           </div>
            <!-- end docs info-->

            <div class="col-lg-6">
              <div class="card">
                  <div class="card-body" >
                    <h5 class="card-title">新标签</h5>
                    <form class="row g-3" th:action="@{/manage/icon/add}" method="post" enctype="multipart/form-data">
                      <div class="col-12">
                        <label class="form-label" for="newiconName">标签名</label>
                        <input type="text" class="form-control" id="newiconName" name="newiconName">
                      </div>
                      <div class="col-12">
                        <label class="form-label" for="newiconImg">标签图片</label>
                        <input type="file" id="newiconImg" name="newiconImg">
                      </div>
                      <div class="col-12">
                        <label class="form-label" for="newiconUrlPath">标签指向的url</label>
                        <input type="text" class="form-control" id="newiconUrlPath" th:value="${docUrl}" name="newiconUrlPath">
                      </div>
                      <div class="col-md-8">
                        <label for="newiconClass">显示的类型</label>
                        <select type="text" id="newiconClass" name="newiconClass">
                          <option>col-xxl-3 col-md-12</option>
                          <option selected>col-xxl-4 col-md-12</option>
                          <option>col-xxl-5 col-md-12</option>
                          <option>col-xxl-6 col-md-12</option>
                          <option>col-xxl-12 col-md-12</option>
                        </select>
                      </div>
                      <div class="text-center">
                        <button class="btn btn-primary" type="submit">添加</button>
                        <button class="btn btn-success" type="reset">重置</button>
                      </div>

                    </form>
                  </div>
              </div>
            </div>

            <div class="col-lg-6">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">新文章</h5>
                  <form class="row g-3" th:action="@{/manage/doc/add}" method="post">
                    <div class="col-12">
                      <label class="form-label" for="newdocName">文章名</label>
                      <input type="text" class="form-control" id="newdocName" name="newdocName">
                    </div>
                    <div class="col-12">
                      <label class="form-label" for="newdocUrlPath">文章指向的url</label>
                      <input type="text" class="form-control" id="newdocUrlPath" th:value="${docUrl}" name="newdocUrlPath">
                    </div>
                    <div class="text-center">
                      <button class="btn btn-primary" type="submit">添加</button>
                      <button class="btn btn-success" type="reset">重置</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">
<!--    <div class="copyright">-->
<!--      &copy; Copyright <strong><span>NiceAdmin</span></strong>. All Rights Reserved-->
<!--    </div>-->
    <div class="credits">blog from fivecoins</div>
    <div class="credits">
      <!-- All the links in the footer should remain intact. -->
      <!-- You can delete the links only if you purchased the pro version. -->
      <!-- Licensing information: https://bootstrapmade.com/license/ -->
      <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ -->
      To change the world
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <script>
    function edithole(id){
      var content = document.getElementById("hole-content"+id).value;
      var timestamp = document.getElementById("hole-timestamp"+id).value;
      var status = document.getElementById("hole-status"+id).value;
      var url = document.getElementById("hole-url"+id).value;
      window.location.href ='/manage/hole/update?id=' + encodeURIComponent(id) + '&content=' + encodeURIComponent(content) + '&timestamp=' + encodeURIComponent(timestamp) + '&status=' + encodeURIComponent(status) + '&url=' + encodeURIComponent(url);
      alert("修改成功");
    }

    function addhole(){
      var id = document.getElementById("new-id").value;
      var content = document.getElementById("new-content").value;
      var timestamp = document.getElementById("new-timestamp").value;
      var status = document.getElementById("new-status").value;
      var url = document.getElementById("new-url").value;
      window.location.href ='/manage/hole/add?id=' + encodeURIComponent(id) + '&content=' + encodeURIComponent(content) + '&timestamp=' + encodeURIComponent(timestamp) + '&status=' + encodeURIComponent(status) + '&url=' + encodeURIComponent(url);
      alert("添加成功");
    }
  </script>

</body>

</html>