<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>错误</title>
    <!-- Favicons -->
    <link href="/assets/img/fivecoinsIcon.png" rel="icon">
    <link href="/assets/img/fivecoinsIcon.png" rel="apple-touch-icon">
    <link href="/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="/assets/css/style.css" rel="stylesheet">
</head>
<body class="text-center">
<div class="box col-4">
    <img src="/assets/img/fivecoinsIcon.png" alt="">
    <h1>404</h1>
    <h1>页面走丢了</h1>
</div>
</body>
</html>